.pop-up__button-wrapper {
  display: flex;
  height: 50px;
  margin-bottom: 25px;

  &--crew {
    margin-bottom: 70px;
  }

  &--filter {
    margin-top: 40px;
    @media only screen and (max-width: $mobileBreakpoint) {
      margin-bottom: 15px;
    }
    @media only screen and (max-width: $mobileBreakpoint) {
      margin-bottom: 5px;
      margin-top: 20px;
      height: 42px;
    }
  }

  .pop-up__button {
    font-weight: bold;
    font-size: 16px;
    flex-grow: 1;
    background-color: inherit;
    border: 1px solid white;
    color: inherit;
    cursor: pointer;
    border-radius: 7px;
    transition: .3s;

    &--disabled {
      pointer-events: none;
      opacity: .6;
    }

    &--filter {
      @media only screen and (max-width: $mobileBreakpoint) {
        font-size: 14px;
      }
    }
  }

  .pop-up__button:hover {
    background-color: #30393c;
  }

  .pop-up__button + button {
    margin-left: 20px;
    background-color: #404953;
    border-color: #404953;
  }
}

.back-button {
  @include flexBoxSet(flex, flex-start, nowrap, center, normal);
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: $textColor;
  opacity: .6;
  transition: .5s;
  font-size: 20px;
}

.back-button:hover {
  opacity: 1;
  transform: scale(1.05);
}
