.pop-up__button-wrapper {
  display: flex;
  height: 50px;
  margin-bottom: 25px;
  &--filter {
    margin-bottom: 70px;
  }
  .pop-up__button {
    font-weight: bold;
    font-size: 16px;
    flex-grow: 1;
    background-color: inherit;
    border: 1px solid white;
    color: inherit;
    cursor: pointer;
    border-radius: 7px;
    transition: .3s;

    &--disabled {
      pointer-events: none;
      opacity: .6;
    }
  }

  .pop-up__button:hover {
    background-color: #30393c;
  }

  .pop-up__button + button {
    margin-left: 20px;
    background-color: #404953;
    border-color: #404953;
  }
}

.back-button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: inherit;
  border: none;
  color: white;
  opacity: .6;
  transition: .5s;
  font-size: 20px;
  &__icon {

  }

  &__text {

  }
}

.back-button:hover {
  opacity: 1;
  transform: scale(1.05);
}
