.crew {
  margin: 50px 0 200px 0;

  &__title {
    margin-bottom: 25px;
  }

  &__cast {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 25px;
    .crew__full-cast-btn-wrapper {
      width: 110px;
      height: 110px;
      .crew__full-cast-btn {
        width: inherit;
        height: inherit;
        color: white;
        opacity: .9;
        font-weight: bold;
        font-size: 17px;
        cursor: pointer;
        border-radius: 50%;
        background-color: #282d32;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
      }
    }
  }
}

.crew__person {
  width: 110px;
  &-image {
    width: 110px;
    max-height: 110px;
    object-fit: cover;
    border-radius: 50%;
    background-color: #646464;
    border: none;
  }

  &-name {
    font-weight: bold;
    margin-top: 5px;
  }
}
