.filter {
  margin-bottom: 30px;

  &__menu {
    display: flex;
    align-items: center;
    .filter__btn-wrapper {
      display: block;
      margin-right: 40px;

      .filter__button {
        cursor: pointer;
        background-color: inherit;
        border-radius: 25px;
        border: 2px solid white;
        color: white;
        padding: 7px 35px;
        text-align: center;
        font-size: 16px;
        font-weight: bold;
      }
    }

    .filter__sort {
      position: relative;
      &-button {
        display: flex;
        align-items: center;
        cursor: pointer;
        .filter__sort-icon-wrapper {
          display: inline-block;
          height: 24px;
        }

        .filter__sort-text {
          font-size: 16px;
          margin: 0 4px;
        }

        .filter__arrow-icon-wrapper {
          height: 24px;

          &--active {
            height: inherit;
            transform: rotate(180deg);
          }
        }
      }
      &-dropdown {
        z-index: 1;
        position: absolute;
        background-color: black;
        width: 100%;
        margin-top: 10px;
      }

    }
  }
}