.movies {
  margin-bottom: 100px;

  &__message {
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    //justify-content: space-between;
    gap: 18px;
    margin-top: 40px;
    @media (max-width: $laptopBreakpoint) {
      gap: 30px;
    }
  }

  //@media (min-width: $desktopBreakpoint), (min-width: $mobileBreakpoint) and (max-width: $tabletBreakpoint) {
  //&__list:after {
  //  content: "";
  //  flex: auto;
  //  width: inherit;
  //}

  //}
}

.recommendation-movies {
  margin-bottom: 80px;

  .recommendation-movies__title {
    margin-bottom: 30px;
  }
}

