.movies {
  margin-bottom: 100px;
  &__message {
    font-size: 28px;
    display: flex;
    justify-content: center;
    margin-top: 50px;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 18px;
    //grid-template-rows: repeat(2);
    //justify-content: space-between;
    //flex-wrap: wrap;
  }
}

.recommendation-movies {
  margin-bottom: 80px;
  .recommendation-movies__title {
    margin-bottom: 30px;
  }
}

