.movie-info {
  &__header {
    display: flex;
    justify-content: space-between;
    .movie-info__image {
      max-width: 450px;
      max-height: 450px;
      border-radius: 20px;
      box-shadow: rgba(100, 100, 111, 0.2) 0 7px 29px 0;
    }
    .movie-info__main-content {
      width: 100%;
      margin-left: 30px;
      &-header {
        .movie-info__title {
          //font-size: 40px;
        }
        .movie-info__subtitle-details {
          .movie-info__country {
            margin: 0 17px;
          }
          .movie-info__genres {

          }
        }
      }
    }
  }
}