.body__model--open {
  overflow: hidden;
  @media only screen and (max-height: $mobileBreakpoint) {
    overflow: initial;
  }
}

.pop-up {
  position: absolute;
  z-index: 3;
  background-color: #202529;
  top: 0;
  left: 0;
  width: 100%;
  @include topHeaderPadding(60px);
  opacity: .984;
  @media only screen and (max-width: $desktopBreakpoint) {
    @include topHeaderPadding(40px);
  }

  @media only screen and (max-width: $tabletBreakpoint) {
    @include topHeaderPadding(30px);
  }

  @media only screen and (max-width: $mobileBreakpoint) {
    @include topHeaderPadding(20px);
  }

  &__container {
    max-width: 1200px;
    margin: 0 auto;

    .pop-up__gutter {
      margin-top: 10px;
      background-color: #404953;
      width: 100%;
      border: 1px solid #404953;
    }
  }
}
