.scroller {
  margin: 30px 0 200px 0;

  &__cast {
    display: flex;

    .scroller__card {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background-color: white;
    }
  }
}