* {
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Proxima Nova', Roboto, system-ui, Tahoma, sans-serif;
  box-sizing: border-box;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: $textColor;
  background-color: #1e252b;
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

h1 {
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 28px;
  line-height: 30px;
}

a {
  text-decoration: none;
}

input, textarea, button, select, a , div{
  -webkit-tap-highlight-color: rgba(145, 145, 145, 0.5);
}