.bookmark {
  @include topHeaderPadding(70px);
  .bookmark__back-btn {
    margin-top: 20px;
  }

  .bookmark__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    .bookmark__title {
      font-size: 38px;
      @media only screen and (max-width: $mobileBreakpoint) {
       font-size: 30px;
      }
    }
    .bookmark__clear-icon-wrapper {
      height: 30px;
      cursor: pointer;
      .bookmark__clear-icon {
        font-size: 30px;
        @media only screen and (max-width: $mobileBreakpoint) {
          font-size: 34px;
        }
      }
    }
  }

  .bookmark__message {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
    @media only screen and (max-width: $mobileBreakpoint) {
      margin-top: 0;
    }
  }
}