.bookmark {
  padding-top: 70px;
  .bookmark__back-btn {
    margin-top: 20px;
  }

  .bookmark__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    .bookmark__title {
      font-size: 38px;
    }
    .bookmark__clear-icon {
      height: 30px;
      cursor: pointer;
    }
  }

  .bookmark__message {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-size: 20px;
  }
}