.filter-pop-up__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .filter-pop-up__close-icon {
    cursor: pointer;
    -webkit-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;

    &:hover {
      -webkit-filter: drop-shadow(1px 1px 10px white);
    }
  }
}


.filter-pop-up__content {
  .filter-pop-up__tabs {
    display: flex;

    &-item {
      cursor: pointer;
      position: relative;

      .filter-pop-up__tabs-item-name {
        font-weight: normal;
        opacity: .5;

        &--active {
          opacity: 1;
        }
      }

      .filter-pop-up__tabs-item--active {
        content: "";
        border-top: 3.5px solid;
        width: 100%;
        position: absolute;
        left: 0;
        bottom: -13px;
        border-radius: 15px;
      }
    }

    &-item + .filter-pop-up__tabs-item {
      margin-left: 20px;
    }
  }

  .filter-pop-up__count-checked {
    margin-top: 20px;
  }

  .filter-pop-up__items {
    display: flex;
    flex-wrap: wrap;

    .filter-pop-up__checkbox-item {
      display: flex;
      align-items: center;
      flex: 1 1 15%;
      height: 100px;
      .filter-pop-up__checkbox-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 50%;
        .filter-pop-up__checkbox {
          color: $textColor;
        }
      }
    }
  }
}

.filter-pop-up__footer {
  margin-bottom: 35px;
}


