.container {
  max-width: 1200px;
  margin: 0 auto;
  @media only screen and (max-width: $desktopBreakpoint) {
    padding-left: 20px;
    padding-right: 20px;
  }
  @media only screen and (max-width: $miniMobileBreakpoint) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.home__container {
  @include topHeaderPadding(120px);
  @media only screen and (max-width: $tabletBreakpoint) {
    @include topHeaderPadding(110px);
  }
  @media only screen and (max-width: $miniMobileBreakpoint) {
    @include topHeaderPadding(100px);
  }
}