@import "abstracts/variables";
@import "abstracts/mixins";
@import "base/normilize";
@import "components/header";
@import "components/movie";
@import "components/listMovies";
@import "components/preview";
@import "components/filter";
@import "components/search";
@import "pages/filterPopup";
@import "components/popupTemplate";
@import "components/scrollToTopBtn";
@import "components/moviePoster";
@import "components/crew";
@import "pages/crewPopup";
@import "components/buttons";
@import "components/crewByDepartment";
@import "components/loader";
@import "components/movieControl";
@import "pages/bookmark";
@import "pages/home";

.container {
  max-width: 1200px;
  margin: 0 auto;
  @media only screen and (max-width: $desktopBreakpoint) {
   padding-left: 20px;
   padding-right: 20px;
  }
}

