@import "variables";
@import "libs/normilize";
@import "components/all";

body {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll;
}

.body__model--open {
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.home-container {
  padding-top: 120px;
}